body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #43a599;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 30%;
    max-width: 800px;
    text-align: left;
}
.container1 {
    background-color: rgb(105, 151, 83);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    text-align: left;
}

h1 {
    margin-bottom: 20px;
    color: #250c0c;
    font-size: 24px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #e42e0d;
    font-weight: 500;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    transition: border-color 0.3s;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #e42e0d;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #80db0e;
    transform: translateY(-2px);
}

.result-table {
    margin-top: 30px;
    width: 100%;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    padding: 10px;
    border: 2px solid #007bff;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #007bff;
    color: #fff;
}

td {
    background-color: #f9f9f9;
}
